In [131]:
import pandas as pd 
import numpy as np
pd.set_option('display.max_columns', None)

In [132]:
file_path = '../data/compiled_results/raw/Compiled Field Results - CFTP Gathered Data.xlsx'
xls = pd.ExcelFile(file_path)
all_trials = {sheet_name: pd.read_excel(xls, sheet_name=sheet_name, skiprows=None if sheet_name != xls.sheet_names[0] else 1)
              for sheet_name in xls.sheet_names}

In [133]:
facility_ad = all_trials['AD001-01']
facility_ad

,Trial ID,Trial Bag Set,Trial Bag ID,Item Description From Trial,Item Description Refined,Load Concentration,Number of Items per bag,Residual Item Weight - Wet,Residual Weight - Oven-dry
0,AD001-01,Set A,AD T10 H7,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,HIGH,2,6.68,6.30
1,AD001-01,Set A,AD T7 H3,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,HIGH,2,0,0.00
2,AD001-01,Set A,AD T8 H1,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,HIGH,2,5.29,5.29
3,AD001-01,Set A,AD T8 L3,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,LOW,1,4.18,3.00
4,AD001-01,Set B,AD T10 H8,BESICS Bowl,BÉSICS® 12 oz Soup bowl,HIGH,2,23.21,18.57
...,...,...,...,...,...,...,...,...,...
89,AD001-01,Set A,AD T7 H3,MPLA Spoon,MPLA Spoon - NaturTec,HIGH,2,11.28,8.05
90,AD001-01,Set A,AD T8 H1,MPLA Spoon,MPLA Spoon - NaturTec,HIGH,2,8.58,7.93
91,AD001-01,Set A,AD T10 L7,MPLA Spoon,MPLA Spoon - NaturTec,LOW,1,3.93,3.90
92,AD001-01,Set A,AD T7 L5,MPLA Spoon,MPLA Spoon - NaturTec,LOW,1,0.44,0.44
93,AD001-01,Set A,AD T8 L3,MPLA Spoon,MPLA Spoon - NaturTec,LOW,1,4.08,3.89

In [134]:
def get_bag_info(facility):
    df = all_trials[facility]
    columns_to_keep = ['Trial ID', 'Trial Bag Set', 'Trial Bag ID', 'Load Concentration']
    df = df[columns_to_keep]
    df.columns = [col.lower() for col in df.columns]
    df.columns = df.columns.str.replace(' ', '_')
    df = df.drop_duplicates(subset='trial_bag_id', keep='first')
    df['trial_bag_set'] = df['trial_bag_set'].str.replace('Set ', '')
    df['trial_bag_id'] = df['trial_id'] + '_' + df['trial_bag_id']
    new_names = {
        'trial_bag_set': 'bag_set',
        'trial_bag_id' : 'bag_id'
    }
    df = df.rename(columns=new_names)
    return df

In [135]:
facility_ad = get_bag_info('AD001-01')
facility_wr01 = get_bag_info('WR001-01')
facility_casp01 = get_bag_info('CASP001-01')

In [136]:
facility_wr01['bag_id'] = facility_wr01['bag_id'].str.split().str[0]
facility_ad['bag_id'] = facility_ad['bag_id'].str.replace(' ', '-')
facility_casp01['bag_id'] = facility_casp01['bag_id'].str.replace(' ', '-')

In [137]:
facility_wr01

     trial_id bag_set         bag_id load_concentration
0   OWR001-01    Full  OWR001-01_BL1                LOW
1   OWR001-01    Full  OWR001-01_CL3                LOW
2   OWR001-01       B   OWR001-01_E2                LOW
3   OWR001-01       B   OWR001-01_E4                LOW
4   OWR001-01    Full   OWR001-01_H1               HIGH
5   OWR001-01    Full   OWR001-01_H2               HIGH
6   OWR001-01    Full   OWR001-01_H5               HIGH
12  OWR001-01       A   OWR001-01_E5                LOW
15  OWR001-01    Full   OWR001-01_H1               HIGH
38  OWR001-01    Full  OWR001-01_BL1                LOW
42  OWR001-01    Full   OWR001-01_H1               HIGH
44  OWR001-01    Full   OWR001-01_H5               HIGH
50  OWR001-01    Full   OWR001-01_H5               HIGH
84  OWR001-01    Full  OWR001-01_BL1                LOW
87  OWR001-01    Full   OWR001-01_H1               HIGH

In [138]:
facility_casp03 = all_trials['CASP003-01']
columns_to_keep = ['Trial ID', 'Trial Bag ID', 'Trial Bag Colour', 'Bag Set Detail']
facility_casp03 = facility_casp03[columns_to_keep]
facility_casp03.columns = [col.lower() for col in facility_casp03.columns]
facility_casp03.columns = facility_casp03.columns.str.replace(' ', '_')
facility_casp03 = facility_casp03.drop_duplicates(subset='trial_bag_id', keep='first')
facility_casp03['trial_bag_id'] = facility_casp03['trial_id'] + '_' + facility_casp03['trial_bag_id']
new_names = {
        'trial_bag_colour': 'bag_colour',
        'trial_bag_id' : 'bag_id'
    }
facility_casp03 = facility_casp03.rename(columns=new_names)
facility_casp03

      trial_id         bag_id bag_colour             bag_set_detail
0   CASP003-01  CASP003-01_A1      Black              CFTP baseline
1   CASP003-01  CASP003-01_A2      Black              CFTP baseline
2   CASP003-01  CASP003-01_A3      Black              CFTP baseline
9   CASP003-01  CASP003-01_C1     Orange           Alter Eco Quinoa
10  CASP003-01  CASP003-01_C2     Orange           Alter Eco Quinoa
11  CASP003-01  CASP003-01_C3     Orange           Alter Eco Quinoa
24  CASP003-01  CASP003-01_B1      White              Elk Packaging
25  CASP003-01  CASP003-01_B2      White              Elk Packaging
26  CASP003-01  CASP003-01_B3      White              Elk Packaging
30  CASP003-01  CASP003-01_D1       Blue  Vegware Rigid Biopolymers
32  CASP003-01  CASP003-01_D2       Blue  Vegware Rigid Biopolymers
34  CASP003-01  CASP003-01_D3       Blue  Vegware Rigid Biopolymers

In [139]:
facility_wr03 = all_trials['WR003-01']
columns_to_keep = ['Trial ID', 'Trial Bag ID', 'Trial Bag Colour']
facility_wr03 = facility_wr03[columns_to_keep]
facility_wr03.columns = [col.lower() for col in facility_wr03.columns]
facility_wr03.columns = facility_wr03.columns.str.replace(' ', '_')
facility_wr03 = facility_wr03.drop_duplicates(subset='trial_bag_id', keep='first')
facility_wr03['trial_bag_id'] = facility_wr03['trial_bag_id'].str.replace('#', '').str.replace(' ', '-')
facility_wr03['trial_bag_id'] = facility_wr03['trial_id'] + '_' + facility_wr03['trial_bag_id']
new_names = {
        'trial_bag_colour': 'bag_colour',
        'trial_bag_id' : 'bag_id'
    }
facility_wr03 = facility_wr03.rename(columns=new_names)
facility_wr03

      trial_id                      bag_id bag_colour
0    OWR003-01    OWR003-01_Blue-Zip-Tie-1       Blue
9    OWR003-01    OWR003-01_Blue-Zip-Tie-2       Blue
18   OWR003-01    OWR003-01_Blue-Zip-Tie-3       Blue
27   OWR003-01    OWR003-01_Blue-Zip-Tie-4       Blue
36   OWR003-01    OWR003-01_Blue-Zip-Tie-5       Blue
45   OWR003-01    OWR003-01_Blue-Zip-Tie-6       Blue
54   OWR003-01  OWR003-01_Yellow-Zip-Tie-1     Yellow
63   OWR003-01  OWR003-01_Yellow-Zip-Tie-2     Yellow
72   OWR003-01  OWR003-01_Yellow-Zip-Tie-3     Yellow
81   OWR003-01  OWR003-01_Yellow-Zip-Tie-4     Yellow
90   OWR003-01  OWR003-01_Yellow-Zip-Tie-5     Yellow
99   OWR003-01  OWR003-01_Yellow-Zip-Tie-6     Yellow
108  OWR003-01     OWR003-01_Red-Zip-Tie-1        Red
115  OWR003-01     OWR003-01_Red-Zip-Tie-2        Red
122  OWR003-01     OWR003-01_Red-Zip-Tie-3        Red
129  OWR003-01     OWR003-01_Red-Zip-Tie-4        Red
136  OWR003-01     OWR003-01_Red-Zip-Tie-5        Red
143  OWR003-01     OWR003-01_Red-Zip-Tie-6        Red

In [140]:
merged_cftp = pd.concat([facility_ad, facility_wr01, facility_casp01, facility_casp03, facility_wr03], ignore_index=True)
merged_cftp

,trial_id,bag_set,bag_id,load_concentration,bag_colour,bag_set_detail
0,AD001-01,A,AD001-01_AD-T10-H7,HIGH,NaN,NaN
1,AD001-01,A,AD001-01_AD-T7-H3,HIGH,NaN,NaN
2,AD001-01,A,AD001-01_AD-T8-H1,HIGH,NaN,NaN
3,AD001-01,A,AD001-01_AD-T8-L3,LOW,NaN,NaN
4,AD001-01,B,AD001-01_AD-T10-H8,HIGH,NaN,NaN
...,...,...,...,...,...,...
62,OWR003-01,NaN,OWR003-01_Red-Zip-Tie-2,NaN,Red,NaN
63,OWR003-01,NaN,OWR003-01_Red-Zip-Tie-3,NaN,Red,NaN
64,OWR003-01,NaN,OWR003-01_Red-Zip-Tie-4,NaN,Red,NaN
65,OWR003-01,NaN,OWR003-01_Red-Zip-Tie-5,NaN,Red,NaN
66,OWR003-01,NaN,OWR003-01_Red-Zip-Tie-6,NaN,Red,NaN

In [141]:
compiled_10 = pd.read_csv('../data/compiled_results/processed/observation_mass.csv')
compiled_10 = compiled_10[compiled_10['bag_number'] != '(blank)']
split_columns = compiled_10['bag_set'].str.split(' ', n=1, expand=True)
compiled_10['bag_set'] = split_columns[0]
compiled_10['bag_colour'] = split_columns[1].str.replace(r"[()]", "", regex=True)
compiled_10['bag_colour'] = compiled_10['bag_colour'].str.capitalize()
compiled_10['bag_id'] = compiled_10['facility_id'] + '_' + compiled_10['bag_set'] + compiled_10['bag_number'].astype(str)
columns_to_keep = ['facility_id', 'bag_set', 'bag_id', 'bag_colour']
compiled_10 = compiled_10[columns_to_keep]
new_names = {
        'facility_id': 'trial_id',
    }
compiled_10 = compiled_10.rename(columns=new_names)
compiled_10

      trial_id bag_set        bag_id bag_colour
0     WR004-01       A  WR004-01_A10       Blue
1     WR004-01       A   WR004-01_A6       Blue
2     WR004-01       A   WR004-01_A7       Blue
3     WR004-01       A   WR004-01_A8       Blue
4     WR004-01       A   WR004-01_A9       Blue
...        ...     ...           ...        ...
4513  WR005-01       B   WR005-01_B9      Green
4514  WR005-01       C  WR005-01_C10     Yellow
4515  WR005-01       C   WR005-01_C2     Yellow
4516  WR005-01       C   WR005-01_C4     Yellow
4517  WR005-01       C   WR005-01_C9     Yellow

[4427 rows x 4 columns]

In [142]:
merged_compiled = pd.concat([merged_cftp, compiled_10], ignore_index=True)
merged_compiled

,trial_id,bag_set,bag_id,load_concentration,bag_colour,bag_set_detail
0,AD001-01,A,AD001-01_AD-T10-H7,HIGH,NaN,NaN
1,AD001-01,A,AD001-01_AD-T7-H3,HIGH,NaN,NaN
2,AD001-01,A,AD001-01_AD-T8-H1,HIGH,NaN,NaN
3,AD001-01,A,AD001-01_AD-T8-L3,LOW,NaN,NaN
4,AD001-01,B,AD001-01_AD-T10-H8,HIGH,NaN,NaN
...,...,...,...,...,...,...
4489,WR005-01,B,WR005-01_B9,NaN,Green,NaN
4490,WR005-01,C,WR005-01_C10,NaN,Yellow,NaN
4491,WR005-01,C,WR005-01_C2,NaN,Yellow,NaN
4492,WR005-01,C,WR005-01_C4,NaN,Yellow,NaN
4493,WR005-01,C,WR005-01_C9,NaN,Yellow,NaN

In [143]:
casp_004 = pd.read_csv('../data/CASP004-01/masterfile.csv')
columns_to_keep = ['trial_ID', 'bag_color', 'bag_set', 'bag_ID', 'bag_content', 'bag_type', 'bag_placement']
casp_004 = casp_004[columns_to_keep]
casp_004['trial_ID'] = 'CASP004-01'
casp_004['bag_ID'] = casp_004['trial_ID'] + '_' + casp_004['bag_ID']
new_names = {
        'bag_color': 'bag_colour',
    }
casp_004 = casp_004.rename(columns=new_names)
casp_004.columns = casp_004.columns.str.lower()
casp_004

,trial_id,bag_colour,bag_set,bag_id,bag_content,bag_type,bag_placement
0,CASP004-01,Green,A,CASP004-01_A-1,Baseline,Standard,Top depth
1,CASP004-01,Green,A,CASP004-01_A-2,Baseline,Standard,Top depth
2,CASP004-01,Green,A,CASP004-01_A-3,Baseline,Standard,Top depth
3,CASP004-01,Green,A,CASP004-01_A-4,Baseline,Standard,Top depth
4,CASP004-01,Green,A,CASP004-01_A-5,Baseline,Standard,Bottom depth
...,...,...,...,...,...,...,...
1039,CASP004-01,Red,C,CASP004-01_C-2,Custom,Standard,Top depth
1040,CASP004-01,Red,C,CASP004-01_C-3,Custom,Standard,Top depth
1041,CASP004-01,Red,C,CASP004-01_C-4,Custom,Standard,Top depth
1042,CASP004-01,Red,C,CASP004-01_C-5,Custom,Standard,Bottom depth
1043,CASP004-01,Red,C,CASP004-01_C-6,Custom,Standard,Bottom depth

In [144]:
all_bags = pd.concat([merged_compiled, casp_004], ignore_index=True)
all_bags.reset_index(inplace=True)
all_bags.rename(columns={'bag_id': 'original_bag_id',
                           'index': 'bag_id'
                           }, inplace=True)
all_bags['bag_id'] = all_bags['bag_id'] + 1
all_bags['bag_id'] = all_bags['bag_id'].astype(str)

all_bags

,bag_id,trial_id,bag_set,original_bag_id,load_concentration,bag_colour,bag_set_detail,bag_content,bag_type,bag_placement
0,1,AD001-01,A,AD001-01_AD-T10-H7,HIGH,NaN,NaN,NaN,NaN,NaN
1,2,AD001-01,A,AD001-01_AD-T7-H3,HIGH,NaN,NaN,NaN,NaN,NaN
2,3,AD001-01,A,AD001-01_AD-T8-H1,HIGH,NaN,NaN,NaN,NaN,NaN
3,4,AD001-01,A,AD001-01_AD-T8-L3,LOW,NaN,NaN,NaN,NaN,NaN
4,5,AD001-01,B,AD001-01_AD-T10-H8,HIGH,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5533,5534,CASP004-01,C,CASP004-01_C-2,NaN,Red,NaN,Custom,Standard,Top depth
5534,5535,CASP004-01,C,CASP004-01_C-3,NaN,Red,NaN,Custom,Standard,Top depth
5535,5536,CASP004-01,C,CASP004-01_C-4,NaN,Red,NaN,Custom,Standard,Top depth
5536,5537,CASP004-01,C,CASP004-01_C-5,NaN,Red,NaN,Custom,Standard,Bottom depth
5537,5538,CASP004-01,C,CASP004-01_C-6,NaN,Red,NaN,Custom,Standard,Bottom depth

In [145]:
all_bags.to_csv('../data/finalized_datasets/bags.csv', index=False)